
.container-seccion{

display: inline-flex; 
background-color: #e8effc; 
margin-left: 12%;

}

.container-seccion2{

    display: inline-flex; 
    background-color: #e8effc; 
    margin-left: 10%;


}

.container-seccion3{

    display: inline-flex; 
    background-color: #e8effc; 
    margin-left: 12%;

     
    }

.container-seccion4{

    display: inline-flex;
    background-color: #e8effc; 
     

}

.seccion-P{

    display: flex;
    background-color: #e8effc; 
    justify-content: center;
    max-width: 100%;
    
    

}

.seccion-P2{

    display: flex;
    background-color: #e8effc; 
    justify-content: center;
    margin-left: 6%;

}

.seccion-P3{

    display: flex;
    background-color: #e8effc; 
    justify-content: center;
    margin-right: 5%;
}

.seccion-P4{

    display: flex;
    background-color: #e8effc; 
    justify-content: center;
    margin-right: 2%;


}

.seccion-P5{

    display: flex;
    background-color: #e8effc; 
    justify-content: center;
    margin-right: 7%;


}

.seccion-P6{

    display: flex;
    background-color: #e8effc; 
    justify-content: center;
    margin-right: 15%;


}

.container-P{

    display: inline-flex;
    background-color: #e8effc; 
     
   
}

.container-P2{

    display: inline-flex;
    background-color: #e8effc; 
    margin-top: 4%;
     
   
}


  
.form-select{


align-content: center;
justify-content: center;
margin-left: 0%;
width: 26mm;
height: 27px;
 


}


.form-control{

justify-content: center; 
align-content: center;
min-width: 50%;
margin-right: 2%;
 

}

.form{

    justify-content: center; 
    align-content: center;
    margin-left: 2%;
     
    
    }
 

.form-label{



margin-right: 15%;
    

}
.form-number{

width: 6rem; 
align-content: center;   
justify-content: center;
text-align: center;

}


.textarea{

width: 80%;
height: 100px;


}



.title{

padding: 1%;
margin-right: 40%;
justify-content: center;
  
 

}

.title2{

 text-align: center;
 justify-content: center;
 margin-right:3%;     
     
    
    }

.tbody{

margin-left: 8%;

}  

.seccion-form{

 
    position: relative;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 1%;
    font-size: small;
    background-color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100%;
    padding-left: 0%;
    display: flex;

    
    }
    

.seccion{

 
position: relative;
margin-left: 2%;
margin-right: 2%;
margin-top: 1%;
font-size: small;
background-color: #e8effc;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
max-width: 100%;
padding-left: 0%;

}

.seccion1{

 
    position: relative;
    margin-left: 0%;
    margin-right: 1%;
    margin-top: 1%;
    font-size: small;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 28rem;
    padding-left: 0%;
    
    }

.seccion2{

    justify-content: center;
    margin-left: 12%;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 35rem;
     
    
    
    }
    
    .seccion3{

      align-content: center;
        position: relative;
        margin-left: 8%;
        margin-right: 8%;
        font-size: small;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 31rem;
        padding-left: 0%;
        
        
        }
        
        .seccion4{

            display: block;
            position: relative;
            margin-left: 1rem;
            margin-right: 2%;
            font-size: small;
            background-color: #e8effc;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            width: 40rem;
            padding-left: 0%;
            
    }
   
 .seccion5{

 
     position: relative;
    margin-left: 4%;
    font-size: small;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 32rem;
    padding-left: 0%;
    border-radius: 8px;
    
                
     }

.btn{

 
align-content: center;
text-align: center;
border: 2px;
color: #fff;
font: bold;
font-size: small;
display:inline-block;
margin-right:2%;
margin-bottom: 10%;
justify-content: center;
display: inline-block;

}


.container {

    display: flex;
    margin-left:2%;
    background-color: #e8effc;
    align-content: center;
    padding-top: 0%;
    padding-left: 8%;
    padding-right: 25%;
    width: 200%;
    height: 200%;
ner-home


}

.container-home {

  
        display:block;
        margin-left: 25%;
        max-width: 100%;
        
}    
    

.container-tc {

   display: block;
    background-color: #e8effc;
    align-content: center;
    margin-left: 2%;



}



.container-agentes{

 
    display: block;
    margin-left:2%;
    background-color: #e8effc;
    text-align: center;
    padding-top: 0%;
    padding-left: 8%;
    padding-right: 25%;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;

}



.h5{

font-weight: bold;  
color: #333333;  

}

.container-turno{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    min-width: 100%;


}

.container-turno1{
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
   
 


}

.container-turno2{

    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    min-width: 100%;
    

}

.container-turno3{

    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    min-width: 100%;
    

}


.container-fluid {

    background-color: #e8effc;
  

}

.content{

    height: 95rem;
}


.card3 {

    
    justify-content: center;
    align-content: center;
    margin-left: 33%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
   
}


.card4 {

    
    width: 40%;
    justify-content: center;
    align-content: center;
    margin-left: 33%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
   
}

.card5 {

    
    width: 80%;
    justify-content: center;
    align-content: center;
    margin-left: 12%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       
}


.card6 {

    
    width: 35%;
    justify-content: center;
    text-align: center;
    margin-left:32%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block; 
    
}

.card6-2 {

    
    width: 41rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-left: 32%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 4%;
    border-radius: 2% 2% 2% 2%;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block; 
   
}


.card6-3 {

    
    width: 52rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-left: 9%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 4%;
    border-radius: 2% 2% 2% 2%;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
      
}

.card7 {

    
    min-width: 100%;
    justify-content: center;
    align-content: center;
    margin-left: 2%;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 1%;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
   
}
 

.card8 {

    
    width: 30%;
    justify-content: center;
    align-content: center;
    margin-left: 11%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5%;
    margin-block: 5%;
   
}

.card9 {

    padding: auto;
    width: 20rem;
    height: 40%;
    justify-content: center;
    margin-left: 38%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 6%;
    
}

.card10 {

    padding: auto;
    width: 18rem;
    height: 40%;
    justify-content: center;
    margin-left: 31%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 6%;
    
}

.card11 {

    padding: auto;
    width: 18rem;
    height: 40%;
    justify-content: center;
    margin-left: 34%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 8%;
    
}


.card12 {

    
    width: 52rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    border-radius: 2% 2% 2% 2%;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block; 
    margin-left: 2%;
    margin-block-end: 8%;
   
}

.card13 {

   
    width: 16rem;
    height: 40%;
    justify-content: center;
    margin-left:26%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 3%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 5%;
    
}

.card14 {

    
    width: 62rem;
    margin-left: 0%;
    background-color: #e8effc;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    border-radius: 2% 2% 2% 2%;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
   
}

.card15 {

    padding: auto;
    width: 17rem;
    height: 40%;
    justify-content: center;
    margin-left: 5%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 5%;
    
}

.card16 {

   
    width: 30rem;
    height: 40%;
    justify-content: center;
    margin-right: 100rem;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 5%;
    
}

.card17 {

   
    width: 30rem;
    height: 50%;
    justify-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 5%;
    
}

.card18 {

   
    width: 33rem;
    margin-left:10%;
    min-height: 80%;
    display: block;
    justify-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 5%;
    
}

.card19 {

   
    min-width: 30rem;
    margin-left:6%;
    justify-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 5%;
    
}

.card20 {

    
    width: 50rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-left: 0%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 4%;
    border-radius: 2% 2% 2% 2%;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block; 
   
}

.card21 {

    
    width: 25rem;
    justify-content: center;
    text-align: center;
    margin-left:23%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block; 
    
}

.cardP {

   
    width: 33rem;
    margin-left:10%;
    min-height: 80%;
    display: block;
    justify-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 5%;
    
} 

.os-padding{


background-color: #343a40;
color: #ffff;


}

.form-horizontal {

    background-color: #ffff;
    display: inline-block;
    margin-top: 5%;
    margin-right: 5%;
    min-width: 98%;
     
    

}



.navbar-light{

font: bold;

}

.nav-compact{

background-color:#343a40;
font: bold;



}

.nav-link{

overflow: visible;
color: #0a0a0a;

}


.os-content{

color: #ffff;

}

.main-header.navbar.navbar-expand-md.navbar-light{

 color: black;   
}

.card-header {

    width: 100%;
    padding-top: 2%;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;

}

.card-header-mt {

    width: 41rem;
    padding-top: 2%;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;

}

.card-header-ag {

    width: 52rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.card-header-tc2 {

    width: 73rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5%;
   
}


.card-header-a {

    width: 18rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;

}

.card-header-b {

    width: 63rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;
   

}

.card-header2 {

    width: 57rem;
    margin-block: 0%;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 12%;
    margin-top: 3%;
     

}

.card-headerR {

   padding: 1%;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     

}

.card-header-ta {

    width: 52rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;

}

.card-header-tp {

    width: 80rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;

}

.card-header-tc {

    width: 55rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  

}

.card-header-tp {

    width: 17rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  

}

.card-body {
   
    display: flex;
    padding-left: 19%;
   

}

.card-body-l {
   
    display: flex;
    margin-left: 15%;
   
      
}


.card-body-usuarios {
   
    display: flex;
    margin-left: 26%;
   
      
}

.card-bodyta {
   
    display: flex;
    margin-left: 2%;
    width: 52rem;
   
   

}

.card-bodytp {
   
    display: flex;
    margin-left: 2%;
    width: 52rem;
   
   

}

.card-body-ta {
   
    display: flex;
    margin-left: 2%;
    width: 55rem;
   
   

}

.card-body-tp {
   
    display: flex;
    margin-left: 2%;
    width: 38rem;
   
   

}

.card-body-tc {

    display: flex;
    margin-left: 17%;
    width: 55rem;
     

}

.card-body-tc2 {

    display: flex;
    margin-left: 0,30%;
    width: 76rem;
     

}

.card-body-us {
   
    display: flex;
    margin-left: 3%;
   
      
}

.card-bodyp {
   
    display: flex;
    padding-left: 23%;
   

}

.card-body-p {
   
    display: flex;
    margin-left: 13%;

}
 
.card-body7 {

    width: 30rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    border-radius: 3% 3% 3% 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
   margin-bottom: 5%;

}
 .row{

display:block;
margin-right: 13%;
 


}



.row1{

display:block;
margin-right: 2%;




}

.row2{

    display:block;
    margin-left: 30%;
 
    
    
    
    }

    .row3{

        display:block;
        margin-left: 5%;
     
        
        
        
        }
    
.row-tc{

        display:block;
        margin-left: 0%;
        
               
        
        } 

        
.row-tp{

            display:block;
            margin-left: 10%;
            
                   
            
            } 
            
                           

.content-wrapper{

background-color: #e8effc;
width: 100%;
height: 100%; 
 

}

.navbar {

    background-color: #ffff;
    font-size: medium;
    color: #00060c;
}

.brand {

    background-color: #ffff;
   

}

.brand_text {

    color: black;
     

}

.nav-header{

color: #fff; 
font-size: medium;
}

.navbar-expand-md {

    color: #ffff;
    font-size: medium;

}

.sidebar_nav{

color: #ffff;
font: bold;
width: 80%;
height: 50%;
background-color: #343a40;
}

.sidebar{

    background-color: #343a40;
    color: white;
    font: bold;
    
    }


.table {
    
    background-color:white;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 50%;
	height: 200px;
    border-radius: 1%;
    font-weight: bold;
    
    
    
}


.table-agentes {
    
    background-color:white;
    align-content: center;
    width:58rem;
	height: 100px;
    margin-left: 2%;
     
    
    
    
    
}


.table-turno1 {
    
    background-color:white;
    align-content: center;
    width:45rem;
	height: 100px;
   
     
     
       
}


.table-turno2 {
    
    background-color:white;
    align-content: center;
    width:38rem;
	height: 100px;
    margin-left: 0%;
     
       
}

.table-turno3 {
    
    background-color:white;
    align-content: center;
    width:38rem;
	height: 100px;
    margin-left: 0%;
     
       
}


.table-ta1 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 52rem;
	height: 100px;
    border-radius: 1%;
    margin-left: 0%;
    
    
    
}
.table-ta {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 50rem;
	height: 100px;
    border-radius: 1%;
    margin-left: 0%;
    
    
    
}

.table-tc {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 52rem;
	height: 100px;
    border-radius: 1%;
    margin-left: 2%;
    
    
    
}


.table-tc2 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 100%;
	height: 100px;
    border-radius: 1%;
    margin-left: 4%;
    margin-block-end: 10%;
    
    
}

.table-ta {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 50rem;
	height: 100px;
    border-radius: 1%;
    margin-left: 0%;
    
    
    
}

.table-turno1 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 40rem;
	height: 100px;
    border-radius: 1%;
    margin-left:2%;   
    
    
}

.table-t1-usuarios {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 50rem;
	height: 100px;
    border-radius: 1%;
   
    
    
    
}

.table-t1 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    min-width: 30rem;
    height: 27rem;
	border-radius: 1%;
   
    
    
    
}

.table-t1b {
    
    background-color:white;
    text-align: center;
    align-content: center;
    min-width: 30rem;
    height: 27rem;
	border-radius: 1%;
   
    
    
    
}

.table-t1c {
    
    background-color:white;
    text-align: center;
    align-content: center;
    min-width: 28rem;
	height: 10rem;
    border-radius: 1%;
   
    
    
    
}


.table-t2 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 80%;
	height: 100px;
    border-radius: 1%;
    margin-left: 10%;
   
    
    
}

.table-tp {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 29rem;
	height: 100px;
    border-radius: 1%;
    margin-left: 0%;
    
    
    
}

.table-t3 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 80%;
	height: 100px;
    border-radius: 1%;
    margin-left: 10%;
    
    
    
}

.table-us {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 52rem;
	height: 100px;
    border-radius: 1%;
    margin-left: 4%;
    
    
    
}


.table2 {
    

    background-color:white;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 30rem;
	height: 200px;
    border-radius: 1%;
    font-weight: bold;
    margin-left:8%;
    
     
    
}

.table3{
    
  
    background-color:#fff;
    justify-content: center;
    text-align: center;
    width: 30rem;
	align-content: center;
    border-radius: 1%;
    font-weight: bold;
    margin-left:8%;
               
}

.table4{
    
  
    background-color:#fff;
    justify-content: center;
    text-align: center;
    width: 30rem;
	height: 200px;
    align-content: center;
    border-radius: 1%;
    font-weight: bold;
    margin-left:4%;
               
}

.table5{
    
    display: inline-table;
    background-color:#fff;
    justify-content: center;
    text-align: center;
    width: 50rem;
    margin-left: 15%;
    margin-right: 50%;
	min-height: 80%;
    align-content: center;
    border-radius: 5px 5px 5px 5px;
    margin-block-end: 00%;
               
}

.table6{
   
    background-color:#fff;
    justify-content: center;
    text-align: center;
    width: 5rem;
    min-height:100%;
	align-content: center;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
     
   
               
}

.table-lu {
    
    background-color:white;
    align-content: center;
    width:63rem;
	height: 100px;
    margin-left: 0%;
    border-radius: 3% 3% 3% 3%;
    margin-block-end: 10%;
    
      
    
    
    
}


.table-P1 {
    
    background-color:white;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 50%;
	height: 90%;
    margin-right: 15%;
    border-radius: 1%;
    font-weight: bold;
    
    
    
}

.table-p1 {
    
    background-color:white;
    align-content: center;
    width: 28rem;
     
            
}

  

.table-p2 {
    
    background-color:white;
    align-content: center;
    width: 35rem;
    height: 90%;

       
            
}

.table-p3 {
    
    background-color:white;
    align-content: center;
    width: 40rem;
    height: 88%;
    margin-left: 11%;
      
     
            
}

.table-p4 {
    
    background-color:white;
    align-content: center;
    width: 32rem;
    height: 89%;
    margin-left: 7%;
   
            
}

.table-p5 {
    
    background-color:white;
    align-content: center;
    width: 38rem;
    max-height: 90%;
    margin-left: 5%;
 
     
            
}

.table-P3{
    
  
    background-color:#fff;
    justify-content: center;
    text-align: center;
    width: 33rem;
    height: 27rem;
	align-content: center;
    border-radius: 1%;
    font-weight: bold;
    margin-left:8%;
               
}


.thead{

text-align: center;
justify-content: center;
background-color: dimgray;
color: #fff;
font-size: small;
width: 30rem;
 

}

.thead2{

    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-size: small;
    width: 30rem;
    
    }

.bg-success{

width: 9%;
height: 0%;



}



.container-reportes{

    width: 55rem; 
    height: 92rem;
    margin-left: 8%;
    margin-right: 3%;
    background-color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;  
    padding: 1%;
    text-align: justify;
     
    }
    
     
      .contenido{
    
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12pt;  
      justify-content: center;
     
      }

          
      
    
     
     
          
   