:root{

--sombra:0 1em 1em -.5em rgba(0,0,0,.5);

}

.tipo-p tr:nth-child(4n){

 
border-bottom:3px solid rgba(0,0,0,.3);



}

.container-seccion{

display: inline-flex; 
background-color: #e8effc; 
margin-left: 0%;

}


.container-seccion2{

    display: inline-flex; 
    background-color: #e8effc; 
    margin-left: 10%;


}

.container-seccion3{

    display: inline-flex; 
    background-color: #e8effc; 
    margin-left: 12%;

     
    }

.container-seccion4{

    display: inline-flex;
    background-color: #e8effc; 
     

}

.seccion-P{

   
   display: flex;
    background-color: #e8effc; 
    justify-content: center;
    margin-right: 50%;
    

}

.seccion-P2{

    display: flex;
    background-color: #e8effc; 
    justify-content: center;
    margin-right:60%;

}

.seccion-P3{

    display: flex;
    background-color: #e8effc; 
    justify-content: center;
    margin-right: 5%;
}

.seccion-P4{

    display: flex;
    background-color: #e8effc; 
    justify-content: center;
    margin-right: 2%;


}

.seccion-P5{

    display: flex;
    background-color: #e8effc; 
    justify-content: center;
    margin-right: 7%;


}

.seccion-P6{

    display: flex;
    background-color: #e8effc; 
    justify-content: center;
    margin-right: 15%;


}

.container-P{

    display: inline-flex;
    background-color: #e8effc; 
     
   
}

.container-P2{

    display: inline-flex;
    background-color: #e8effc; 
    margin-top: 4%;
     
   
}


  
.form-select{


align-content: center;
justify-content: center;
margin-left: 0%;
width: 26mm;
height: 27px;
 


}

  
.form-select-inc{


    align-content: center;
    justify-content: center;
    margin-left: 15%;
    width: 26mm;
    height: 27px;
     
    
    
    }


.form-control{

justify-content: center; 
align-content: center;
min-width: 45%;
margin-right: 2%;

}

 

.form{

    justify-content: center; 
    align-content: center;
    margin-left: 15%;
     
    
    }
 

.form-label{



margin-right: 15%;
    

}
.form-number{

width: 6rem; 
align-content: center;   
justify-content: center;
text-align: center;

}


.textarea{

display:inline-block;
width: 60%;
height: 180px;
margin-left: 18%;
 

}



.title{

padding: 1%;
margin-right: 40%;
justify-content: center;
  
 

}

.title2{

 text-align: center;
 justify-content: center;
 margin-right:3%;     
     
    
    }

.tbody{

margin-left: 8%;
display: inline-table;

}  


.tbody-inc{

    display: inline-table;
    width:100%;
    background-color:#fff;
    margin-bottom: 2%;
    }  

    .tbody-tr{

        width:50%;
       
        
    }  

    .tbody-incr{

        width:100%;
        margin-left: 0%;
        background-color: #fff;
        justify-content: center;
        text-align: center;
        margin-bottom: 2%;
        }     

.tbody-incD{

        width:92%;
        display: inline-table;
        justify-content: flex-end;

        }    
 

.text-center{

margin-left: 4%;


}  


.seccion-form{

 
    position: relative;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 1%;
    font-size: small;
    background-color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100%;
    padding-left: 0%;
    display: flex;

    
    }
    

.seccion{

 
margin-left: 3%;
margin-top: 1%;
font-size: small;
background-color: #e8effc;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
max-width: 100%;
display:flex; 
}

.seccion-2{

 
margin-left: 2%;
margin-top: 1%;
font-size: small;
background-color: #e8effc;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: 40rem;
min-height:80%; 
display:flex; 
}

.seccion-3{

margin-top: 1%;
font-size: small;
background-color: #e8effc;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width:27rem;
min-height:80%; 
display:flex; 
}

.seccion-4{

 
margin-top: 1%;
margin-left:10%;
font-size: small;
width: 25rem;
min-height:80%; 
background-color: #e8effc;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
display:flex; 

}

.seccion-5{

margin-left: 1%; 
margin-right: 2%;
margin-top: 1%;
font-size: small;
background-color: #e8effc;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: 33rem;
display:flex; 

}

.seccion-6{

 
margin-left: 1%;
margin-top: 1%;
font-size: small;
background-color: #e8effc;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width:25%;
min-height:80%; 
display:flex; 

}

.seccion-7{

margin-left:1%; 
margin-right: 25%;
margin-top: 1%;
font-size: small;
background-color: #e8effc;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width:100%;
min-height:80%; 
display:flex; 

}

.seccion-8{

margin-right:2%;
margin-top: 1%;
font-size: small;
background-color: #e8effc;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
min-height:60%; 
display:flex; 

}

.seccion-9{

    width: 100%;
    font-size: small;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-table;

}

.seccion-10{

    width: 93%;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff; 
    margin-left: 2%;

}

.seccion1{

 
    position: relative;
    margin-left: 0%;
    margin-right: 1%;
    margin-top: 1%;
    font-size: small;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 28rem;
    padding-left: 0%;
    
    }

.seccion2{

    justify-content: center;
    margin-left: 12%;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 35rem;
     
    
    
    }
    
    .seccion3{

      align-content: center;
        position: relative;
        margin-left: 8%;
        margin-right: 8%;
        font-size: small;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 31rem;
        padding-left: 0%;
        
        
        }
        
        .seccion4{

            display: block;
            position: relative;
            margin-left: 1rem;
            margin-right: 2%;
            font-size: small;
            background-color: #e8effc;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            width: 40rem;
            padding-left: 0%;
            
    }
   
 .seccion5{

 
     position: relative;
    margin-left: 4%;
    font-size: small;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 32rem;
    padding-left: 0%;
    border-radius: 8px;
    
                
     }

.btn{

 
align-content: center;
text-align: center;
border: 2px;
color: #fff;
font: bold;
font-size: small;
display:inline-block;
margin-right:2%;
margin-bottom: 4%;
justify-content: center;
box-shadow: 0 .4em .5em -.3em rgba(0,0,0,.8);
}


.container {

    display: flex;
    margin-left:2%;
    background-color: #e8effc;
    align-content: center;
    padding-top: 0%;
    padding-left: 16%;
    padding-right: 25%;
    width: 100%;
    height:auto;
    zoom: 80%;

 


}

.container-usuarios {

    display: flex;
    background-color: #e8effc;
    width: 100%;
    height: auto;
    zoom: 80%;
    margin-left: 15%;
    zoom: 80%;


}

.container-historial {

    text-align: center;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    display: grid;
	width:70%; 
	height: auto;
    margin-left: 15%;
  
}

.container-historialCeges {

    text-align: center;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    display: grid;
	width:70%; 
	height: auto;
    margin-left: 18%;
  
}

.container-home {

  
        display:block;
        margin-left: 25%;
        max-width: 100%;
        
}    
    

.container-tc {

    display: grid;
    background-color: #e8effc;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    margin-right:18%;
       
}

.container-tipoP {

    display: grid;
    background-color: #e8effc;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    margin-left: 22%;
    zoom: 85%;
     
}

.container-tipoprueba {

    display: grid;
    background-color: #e8effc;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    margin-left: 24%; 
    zoom: 85%;
}

.container-tipoServicio{

    display: grid;
    background-color: #e8effc;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    margin-left: 24%; 
    zoom: 85%; 
}


.container-zonas{

    display: grid;
    background-color: #e8effc;
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    margin-left: 24%; 
    zoom: 85%; 
     
}
.container-agentes{

 
    text-align: center;
    justify-content: center;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    display: grid;
	width:70%; 
	height:auto;
  	margin-left: 15%;
    zoom: 80%;

}



.h5{

font-weight: bold;  
color: #333333;  

}

.container-maestroturno{
    text-align: center;
    justify-content: center;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    display: grid;
	width:70%; 
    height: auto;
    margin-left: 13%;
	    

}

.container-turno{
    text-align: center;
    justify-content: center;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    display: grid;
	width:70%; 
    zoom: 80%;
	height: auto;
	margin-left: 17%;

    

}

.container-turno1{
    text-align: center;
    justify-content: center;
    display:flex;
    margin-right:6%; 
    max-width: 100%;
    max-height: 100%;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;

   
 


}

.container-turno2{

    text-align: center;
    justify-content: center;
    display:flex;
    margin-right: 5%;
    max-width: 100%;
    max-height: 100%;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}

.container-turno3{

    display:flex;
    max-width: 110%;
    max-height: 100%;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    margin-right:75%;
    margin-left: 1%;

}

.container-turno4{

    display:flex;
    max-width: 100%;
    max-height: 100%;
    background-color: #e8effc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    margin-left:1%;

}


.container-turno5{

     
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    width:100%;
    margin-left: 0%;
    margin-block-end:3%;   
   
   }

.container-fluid {

    background-color: #e8effc;
  

}

.content{

   background-color: #e8effc;
   width: 100%;
   height:auto;


}


.card3 {

    
    justify-content: center;
    align-content: center;
    margin-left: 33%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
   
}


.card4 {

    
    width: 40%;
    justify-content: center;
    align-content: center;
    margin-left: 33%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
   
}

.card5 {

    
    width: 80%;
    justify-content: center;
    align-content: center;
    margin-left: 12%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       
}


.card6 {
    
    width: 35%;
    justify-content: center;
    text-align: center;
    margin-left:32%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5%;
    box-shadow: var(--sombra);
}

.card6-2 {

    
    width: 41rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 4%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-table; 
    box-shadow: var(--sombra);
     
}


.card6-3 {

    
    width: 52rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-bottom: 5%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 4%;
    border-radius: 2% 2% 2% 2%;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: var(--sombra);
      
}

.card7 {

    
    min-width: 100%;
    justify-content: center;
    align-content: center;
    margin-left: 2%;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 1%;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
   
}
 

.card8 {

    
    width: 30%;
    justify-content: center;
    align-content: center;
    margin-left: 11%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5%;
    margin-block: 5%;
   
}

.card9 {

    padding: auto;
    width: 20rem;
    height: 40%;
    justify-content: center;
    margin-left: 38%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 6%;
    
}

.card10 {

    padding: auto;
    width: 18rem;
    height: 40%;
    justify-content: center;
    margin-left: 32%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 2% 2%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10%;
    box-shadow: var(--sombra);
}

.card11 {

    padding: auto;
    width: 18rem;
    height: 40%;
    justify-content: center;
    margin-left: 34%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 8%;
    box-shadow: var(--sombra);
}


.card12 {

    
    width: 52rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    border-radius:0px 0px 3px 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block; 
    margin-left: 2%;
    margin-block-end: 8%;
    box-shadow: var(--sombra);
}

.card13 {

   
    width: 20rem;
    height: 40%;
    justify-content: center;
    margin-left:45%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 3%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 8%;
    box-shadow: var(--sombra);
}

.card14 {

    
    width: 62rem;
    margin-left: 0%;
    background-color: #e8effc;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    border-radius: 1% 1% 1% 1%;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      
}

.card15 {

    padding: auto;
    width: 17rem;
    height: 40%;
    justify-content: center;
    margin-left: 7%;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 5%;
    box-shadow: var(--sombra);
}

.card16 {

   
    width: 30rem;
    height: 40%;
    justify-content: center;
    margin-right: 100rem;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 2% 2% 1% 1%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 5%;
    box-shadow: var(--sombra);
}

.card17 {

   
    width: 30rem;
    height: 50%;
    justify-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 5%;
    box-shadow: var(--sombra);
}

.card18a {

   
    width:78rem;
    margin-left:2%;
    min-height: 60%;
    margin-right: 1%;
    align-content: center;
    justify-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: var(--sombra);
    
}

.card18b {

   
    width:30rem;
    margin-left: 2%;
    align-content: center;
    justify-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    border-radius: 4% 4% 4% 4%;      
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: var(--sombra);
    
}

.cardIn{

    width: 100%;
    background-color: #fff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    border-radius: 3% 3% 3% 3%;      
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;
    box-shadow: var(--sombra);
}

.card-tc{
    
    display:block;
    margin-left: 10%;
    background-color:#e8effc;
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 4px 4px 4px 4px;
    height:97%; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
               
}

.card-tc-2{
    
    width: 90%;
    text-align: center;
    align-content: center;
    border-radius: 4px 4px 4px 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
               
}

.card18 {

   
    width:30rem;
    min-height: 30%;
    margin-left: 3%;
    align-content: center;
    justify-content: center;
    background-color: #ffff;
    border: 3px;
    border-color: #666666;
    font-size: medium;
    border-radius: 2% 2% 2% 2%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 1em 1em -.5em rgba(0,0,0,.5);
    
}

}

.card19 {

   
    min-width: 30rem;
    margin-left:6%;
    justify-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
    
}

.card20 {

    
    width: 53rem;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 4%;
    border-radius:3px 3px 4px 4px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block; 
    margin-bottom: 5%;
    box-shadow: var(--sombra);
}

.card21 {

    
    width: 32rem;
    justify-content: center;
    text-align: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    margin-top: 2%;
    align-content: center;
    border-radius: 1% 2% 1% 1%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block; 
    margin-left: 18%;
    box-shadow: var(--sombra);
}

.cardP {

   
    width: 33rem;
    margin-left:10%;
    min-height: 80%;
    display: block;
    justify-content: center;
    background-color: #ffff;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    align-content: center;
    border-radius: 3% 3% 3% 3%;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-block-end: 5%;
    
} 

.os-padding{


background-color: #343a40;
color: #ffff;


}

.form-horizontal {

    background-color: #ffff;
    display: inline-block;
    margin-top: 5%;
    margin-right: 5%;
    min-width: 98%;
     
    

}



.navbar-light{

font: bold;

}

.nav-compact{

background-color:#343a40;
font: bold;



}

.nav-link{

overflow: visible;
color: #0a0a0a;

}


.os-content{

color: #ffff;

}

.main-header.navbar.navbar-expand-md.navbar-light{

 color: black;   
}

.card-header {

    width: 100%;
    padding-top: 2%;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;

}

.card-header-mt {

    width: 41rem;
    padding-top: 2%;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;

}

.card-header-ag {

    width: 52rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.card-header-tc2 {

    width: 73rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5%;
    border-radius:3px 3px 2px 2px;
   
}


.card-header-a {

    width: 18rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;
    border-radius:4px 4px 0px 0px;
}

.card-header-b {

    width: 63rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;
   

}

.card-header2 {

    width: 57rem;
    margin-block: 0%;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 12%;
    margin-top: 3%;
     

}

.card-headerR {

   padding: 1%;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     

}

.card-header-ta {

    width: 52rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;
    border-radius:3px 3px 0px 0px;
}

.card-header-tp {

    width: 80rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0%;
    border-radius:4px 4px 0px 0px;
}

.card-header-tc {

    width: 55rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  

}

.card-header-tp {

    width: 17rem;
    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  

}

.card-body {
   
    display: flex;
    padding-left: 19%;
   

}


.card-body-l {
   
    display: flex;
    margin-left: 15%;
   
      
}

.card-body-agentes {
   
    display: flex;
    margin-left: 3%;
   
      
}


.card-body-usuarios {
   
    display: flex; 
    margin-right: 5%;
   
      
}

.card-bodyta {
   
    display: flex;
    margin-left: 2%;
    width: 52rem;
   
   

}

.card-bodytp {
   
    display: flex;
    margin-left: 2%;
    width: 52rem;
   
   

}

.card-body-ta {
   
    display: flex;
    margin-left: 2%;
    width: 55rem;
   
   

}

.card-body-tp {
   
    display: flex;
    margin-left: 2%;
    width: 38rem;
   
   

}

.card-body-tc {

    display: flex;
    margin-left: 22%;
    width: 55rem;
     

}

.card-body-tc2 {

    display: flex;
    margin-left: 0,30%;
    width: 76rem;
     

}

.card-body-us {
   
    display: flex;
    margin-left: 3%;
    border-radius: 0 0 3em 3em;
   
      
}

.card-bodyp {
   
    display: flex;
    padding-left: 23%;
   

}


.card-body-p {
   
    display: flex;
    margin-left: 13%;

}

  
.card-body7 {

    width: 30rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    border: 2px;
    border-color: #666666;
    font-size: medium;
    border-radius: 3% 3% 3% 3%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
   margin-bottom: 5%;

}
 .row{

display:block;
margin-right: 13%;
 


}



.row1{

display:block;
margin-right: 2%;




}

.row2{

    display:block;
    margin-left: 30%;
 
    
    
    
    }

    .row3{

        display:block;
        margin-left: 5%;
     
        
        
        
        }
    
.row-tc{

        display:block;
        margin-left: 0%;
        
               
        
        } 

        
.row-tp{

            display:block;
            margin-left: 10%;
            
                   
            
            } 
            
                           

.content-wrapper{

background-color: #e8effc;


}

.navbar {

    background-color: #ffff;
    font-size: medium;
    color: #00060c;
}

.brand {

    background-color: #ffff;
   

}

.brand_text {

    color: black;
     

}

.nav-header{

color: #fff; 
font-size: medium;
}

.navbar-expand-md {

    color: #ffff;
    font-size: medium;

}

.sidebar_nav{

color: #ffff;
font: bold;
width: 80%;
height: 50%;
background-color: #343a40;
}

.sidebar{

    background-color: #343a40;
    color: white;
    font: bold;
    
    }


.table {
    
    background-color:white;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-left: 1%;
    width: 78rem;
    height: 30rem;
    font-size: medium;
    box-shadow: 0 1em 1em -.5em rgba(0,0,0,.3);
}


.table-agentes {
    
    background-color:white;
    align-content: center;
    width:40rem;
	height: 100px;
    margin-left: 2%;
     
    
    
    
    
}


.table-turno1 {
    
    background-color:white;
    align-content: center;
    text-align:center;
  	height: auto;
    margin-bottom: 2%;
    display:inline-table;
    width: auto;
     
       
}


.table-turno2 {
    
    background-color:white;
    align-content: center;
    width:38rem;
	height: 100px;
    margin-left: 0%;
     
       
}

.table-turno3 {
    
    background-color:white;
    align-content: center;
    width:38rem;
	height: 100px;
    margin-left: 0%;
     
       
}


.table-ta1 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 52rem;
	height: 100px;
    border-radius:0px 0px 2px 2px;
    margin-left: 0%;
    
    
    
}
.table-ta {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 50rem;
	height: 100px;
    border-radius: 1%;
    margin-left: 0%;
    
    
    
}

.table-tc {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 52rem;
	height: 100px;
    border-radius: 1%;
    margin-left:8%;
    box-shadow:var(--sombra);    
    
}


.table-tc2 {

    display: inline-table;
    background-color:white;
    text-align: center;
    align-content: center;
    width: 100%;
	border-radius:0px 0px 3px 3px;
    margin-left: 4%;
    box-shadow: var(--sombra);
    margin-block-end: 10%;
    
    
}

.table-ta {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 50rem;
	height: 100px;
    border-radius: 1%;
    margin-left: 0%;
    
    
    
}

.table-turno1 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 40rem;
	height: 100px;
    border-radius: 1%;
    margin-left:2%;   
    
    
}

.table-t1-usuarios {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 50rem;
	height: 100px;
    border-radius: 1%;
   
    
    
    
}

.table-t1 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    min-width: 30rem;
    height: 27rem;
	border-radius: 1%;
   
    
    
    
}

.table-t1b {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 33rem;
    min-height: 70%;
	border-radius: 1%;
    margin-right:1%;
    box-shadow: 0 1em 1em -.5em rgba(0,0,0,.5);  
      
}

.table-tp2 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 70rem;
    border-radius: 1%;
    margin-right:1%;
    
   
}

 

.table-t1b2 {
    
    background-color:white;
    text-align: center;
    margin-left: 0%;
    align-content: center;
    width: 27rem;
    height: 100%;
    border-radius: 1%;
    box-shadow: var(--sombra);
   
  
    
    
}

.table-t1b3 {


    margin-top: 10%;
    background-color:white;
    text-align: center;
    margin-left:22%;
    align-content: center;
    width: 60rem;
    min-height: 100%;
    border-radius: 1%;
    
   
  
    
    
}

.table-t1c {
    
    background-color:white;
    text-align: center;
    align-content: center;
    min-width: 28rem;
	height: 10rem;
    border-radius: 1%;
   
    
    
    
}


.table-t2 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 80%;
	height: 100px;
    border-radius: 1%;
    margin-left: 10%;
   
    
    
}

.table-tp {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 29rem;
	height: 100px;
    border-radius: 1%;
    margin-left: 0%;
    
    
    
}

.table-t3 {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 80%;
	height: 100px;
    border-radius: 1%;
    margin-left: 10%;
    
    
    
}

.table-us {
    
    background-color:white;
    text-align: center;
    align-content: center;
    width: 52rem;
	height: 100px;
    border-radius: 1%;
    margin-left: 4%;
    
    
    
}


.table2 {
    

    background-color:white;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 22rem;
	min-height: 100%;
    border-radius: 1% 1% 2% 2%;
    font-weight: bold;
    margin-left:3%;
    box-shadow: 0 1em 1em -.5em rgba(0,0,0,.5);
    
}

.table3{
    
  
    background-color:white;
    justify-content: center;
    text-align: center;
    align-content: center;
    width:22rem;
    height: 100%;
    border-radius: 1% 1% 2% 2%;
    font-weight: bold;
    box-shadow: 0 1em 1em -.5em rgba(0,0,0,.5);
}

.table4{
    
  
    background-color:#fff;
    justify-content: center;
    text-align: center;
    width: 30rem;
	height: 200px;
    align-content: center;
    border-radius: 1%;
    font-weight: bold;
    margin-left:4%;
               
}

.table5{

    width: 93%;
    text-align: center;
    align-content: center;
    border-radius: 3px 3px 3px 3px;
    margin-block-end: 8%;  
    display: grid;
    margin-left: 2%; 
    background: #fff;     
    box-shadow: var(--sombra);     
}

.table-d{
    
    display: block;
    width: 68rem;
    background-color:#fff;
    justify-content: center;
    text-align: center;
    align-content: center;
    border-radius: 3px 3px 3px 3px;
    margin-block-end: 5%;
    
               
}

.table6{
   
    background-color:#fff;
    justify-content: center;
    text-align: center;
    width: 5rem;
    min-height:100%;
	align-content: center;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
     
   
               
}

.table-lu {
    
    background-color:white;
    align-content: center;
    width:63rem;
	height: 100px;
    margin-left: 0%;
    border-radius: 3% 3% 3% 3%;
    margin-block-end: 10%;
    
      
    
    
    
}


.table-P1 {
    
    background-color:white;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 50%;
	height: 90%;
    margin-right: 15%;
    border-radius: 1%;
    font-weight: bold;
    
    
    
}

.table-p1 {
    
    background-color:white;
    align-content: center;
    width: 28rem;
     
            
}

  

.table-p2 {
    
    background-color:white;
    justify-content: center;
    text-align: center;
    align-content: center;
    width: 37rem;
    margin-left: 1%;
    max-height: 97%;
    border-radius: 1% 1% 1% 1%;
    box-shadow: var(--sombra); 
    
     

       
            
}

.table-p3 {
    
    background-color:white;
    align-content: center;
    width: 40rem;
    height: 88%;
    margin-left: 11%;
      
     
            
}

.table-p4 {
    
    background-color:white;
    align-content: center;
    width: 32rem;
    height: 89%;
    margin-left: 7%;
   
            
}

.table-p5 {
    
    background-color:white;
    align-content: center;
    width: 38rem;
    max-height: 90%;
    margin-left: 5%;
 
     
            
}

.table-P3{
    
  
    background-color:#fff;
    justify-content: center;
    text-align: center;
    width: 33rem;
    height: 27rem;
	align-content: center;
    border-radius: 1%;
    font-weight: bold;
    margin-left:8%;
               
}

.thead-inc{

    display: inline-table;
    text-align: center;
    justify-content: center;
    background-color: dimgray;
    color: #fff;
    font-size: small;
    width:100%;
        
    
    }

    .thead-incD{

        display: inline-table;
        text-align: center;
        justify-content: center;
        background-color: dimgray;
        color: #fff;
        font-size: small;
        width:100%;
            
        
        }   

.theadIn{

    display: inline-table;
    text-align: center;
    justify-content: center;
    background-color: dimgray;
    color: #fff;
    font-size: small;
    width: 78rem;
  
     
    
    }

    .theadInr{

        text-align: center;
        justify-content: center;
        background-color: dimgray;
        color: #fff;
        font-size: small;
        width: 100%;
        margin-left: 0%;
      
         
        
        }   


.thead{

text-align: center;
justify-content: center;
background-color: dimgray;
color: #fff;
font-size: small;
width: 30rem;
 

}

.thead2{

    text-align: center;
    background-color: dimgray;
    color: #fff;
    font-size: small;
    width: 30rem;
    
    }

.bg-success{

width: 6%;
height: 0%;



}



.container-reportes{

    width: 55rem; 
    height: 92rem;
    margin-left: 8%;
    margin-right: 3%;
    background-color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;  
    padding: 1%;
    text-align: justify;
     
    }
    
     
      .contenido{
    
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12pt;  
      justify-content: center;
     
      }

          
      
    
     
     
          
   